@charset "utf-8";
/* CSS Document */

#wrapper {
	height: 1000px;
	width: 896px;
	margin-right: auto;
	margin-left: auto;
}
#page {
	background-color: #FCC;
	height: 100%;
	width: 820px;
	position: relative;
	left: 17px;
	padding: 20px;
}
#header {
	height: 200px;
	width: 896px;
}
#head-menu {
	height: 50px;
	width: auto;
	background-color: #F90;
}
#head-lable {
	height: 150px;
	width: auto;
	background-color: #3C0;
}
#right-sidebar {
	height: 80%;
	width: 200px;
	background-color: #0FF;
	float: left;
	position: relative;
	left: 20px;
}
#box {
	height: 100%;
	width: 600px;
	background-color: #FFF;
	float: left;
}
#footer {
	height: 100px;
	width: 900px;
	background-color: #903;
}

table.content_table {
    margin-left: auto; /* Чтобы была по центру */
    margin-right: auto; /* Чтобы была по центру */
    background-color:#fafafa;
    border-collapse: collapse;
    border: 1px solid #cc0000;
    width: 800px;
}

th.book_title {
    width: 450px;
    padding: 3px;
}

th.category {
    width: 150px;
    padding: 3px;
}

th.cost {
    width: 50px;
    padding: 3px;
}

th.action {
    width: 50px;
    padding: 3px;
}

td.book_title {
    padding: 3px;
}

td.category {
    text-align: center;
    padding: 3px;
}

td.cost {
    text-align: center;
    padding: 3px;
}

td.action {
    text-align: center;
    width: 50px;
    padding: 3px;
}

a.main_link {
    font-size: x-large;
    color: black;
    text-decoration: underline;
}

a.main_link:hover {
    color: #cc0000;
    text-decoration: none;
}

a.help_link {
    font-size: small;
    color: grey;
    text-decoration: underline;
}

a.help_link:hover {
    text-decoration: none;
}

a.other {
    color: black;
    text-decoration: underline;
}

a.other:hover {
    color: #cc0000;
    text-decoration: none;
}

/*
    Текстовые поля.
*/
input.other {
    padding: 5px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #cc0000;
    font: normal 0.8em tahoma;
}